<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
    <style>
        h2 {
            text-align: center;
        }
        .box {
            height: 100px;
            width: 100px;
            margin: 40px;
            display: inline-block;
            background-color: {{ color }};
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h2>Welcome!</h2>
    <div class="box" {{ times }}></div>

    {% for x in range(0, times): %}
        <div class="box"></div>
    {% endfor %}
    
</body>
</html>


